



.Firstdiv{
    width: 100%;
    background-color: #f6f6f6;
    height: 273px;
    margin-top: 50px;
    text-align: center;


}
.textone{
    font-size: 63px;
    /* font-style: normal; */
    /* font-weight: light; */
    
}
.imge1{
    width: 9%;
    margin-left: -833px;
    position: absolute;
}

.imge2{
    width: 24%;
    margin-left: 483px;
    position: absolute;
}

@media (max-width: 768px) {

     .imge2{
        display: none;
     }
 
 }
 