body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div > p{
  color: gray;
}
.bottom > div{
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.input {
  width: 300px;
  height: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
}
.btn2:hover {
  background-color: black;
  color: white;
}
.inp:focus {
  border: none;
  outline: none;
}
.inp {
  border: none;
  margin-left: 10px;
  height: 24px;
  color: gray;
}
.footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn2 {
  font-weight: bold;
  height: 45px;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50px;
  border: none;
  margin-left: 10px;
}
.news{
  margin-top: 50px;
}
.faceb {
  background-color: rgb(60, 91, 155);
}
.tweet {
  background-color: #0c1519;
}
.insta {
  background-color:rgb(198, 25, 184);
}
.in {
  background-color: rgb(60, 91, 155);
}
.rss {
  background-color:rgb(235, 131, 20);
}
.bottom{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 630px;
}
.box {
  color: white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-boxes2{
  gap: 10px;
}
.icon-boxes{
  gap: 8px
}
.icon-boxes, .icon-boxes2{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  line-height: 1.5em;
}
.col2 > p {
  font-size: 14px;
}
.col3 > p {
  font-size: 14px;
}
.col4 > p {
  font-size: 14px;
}
.edit {
  line-height: 25.2px;
  margin-top: 40px;
}
.col1 > p {
  font-size: 14px;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.display {
  display: none;
}
.footer {
  margin-top: 100px;
  height: 491.11px;
  width: 100%;
  background-color: #f6f6f6;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18%;
}
.red1:hover{
  color:red;
}
.red3:hover{
  color: red;
}
.red4:hover{
  color:red;
}
.left {
  display: flex;
  align-items: center;
}
.list > li {
  gap: 5px;
}
.list {
  width: 350px;
  margin-left: -110px;
  display: block;
  font-size: 13px;
  display: flex;
  justify-content: left;
  gap: 8%;
  list-style-type: none;
}
.icon-box {
  display: flex;
  margin-left: 70px;
  gap: 15px;
}

@media screen and (max-width: 990px) {
  .list {
    display: none;
  }
  .display {
    display: block;
    margin-top: 2px;
  }
  .logo-box {
    width: 800px;
    display: flex;
    align-items: center;
  }
  .nav > h1 {
    width: 200px;
  }
  .nav {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    margin-left: 20px;
  }
  .icon-box {
    display: flex;
    margin-top: 15px;
    gap: 25px;
  }
}
